<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1>Top coin this week is:</h1>
        <div id="coin-display">$CFD</div>
      </div>
    </div>
    <br>
    <%= link_to "Market Data", user_logout_path, class:"btn btn-success btn-lg marketdatabtn"%>
    <%= link_to "Buy/Sell", user_logout_path, class:"btn btn-primary btn-lg marketdatebtn"%>

  </div>
</section>

<section class="content-section" id="coin-info-wrapper">

<div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto coin-info">
        <h2>Why $CFD?</h2>
        <p>Explanation goes here.</p>
      </div>
    </div>
    <br>

</div>


  <div class="container text-center">
    <div class="row">
      <div class="col-lg-5 mx-auto coin-info">
        <h2>About</h2>
        <p>About coing goes here.</p>
      </div>
      <div class="col-lg-5 mx-auto coin-info">
        <h2>Links</h2>
        <p>Links to coing goes here.</p>
      </div>
    </div>
    <br>

  </div>
</section>

