<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="background-color: #2d2d2d;">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top" style="color: #ff6c00; font-weight: 800;">CoinToBuyToday</a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">

        <% if user_signed_in? %>
        <%= link_to "Log Out", user_logout_path, class:"nav-item nav-link js-scroll-trigger"%>
        <% else %>
        <%= link_to "Sign In", user_login_path, class:"nav-item nav-link js-scroll-trigger"%>
        <% end %>

      </ul>
    </div>
  </div>
</nav>

<span id="notice"><%= notice %></span>  
<span id="alert"><%= alert %></span>